#gamespace {
	
}



#board {
	float: left;
	border: solid darkgrey 5px;
	border-radius: 10px;
}
	.row {
		height: 100px;
	}

	.square {
		height: 100px;
		width: 100px;
		border: solid darkgrey 1px;
		display: inline-block;
		margin-left: -2px;
		margin-right: -2px;
	}

	.square h1 {
		margin: 34%;
		float: left;
		font-family: avenir;
	}


section.option {
	margin: 1em;
}


#players-list {
	border: solid black 2px;
	width: 307px;
	border-radius: 10px;
	margin-bottom: 10px;
}
	#players-list ul {
		display: inline;
	}

#top {
	width: 310px;
	text-align: center;
}

	#title {
		font-family: avenir;
	}

	#settings {
		border: solid black 2px;
		width: 307px;
		border-radius: 10px;
		margin-bottom: 10px;
	}
